@import "variables.scss";

/* Avatar component */

.avatar {
  border-radius: 10rem;
  display: inline-block;
  overflow: hidden;
  height: 120px;
  width: 120px;
}

@media ($media-medium) {
  .avatar {
    height: 100px;
    width: 100px;
  }
}