@import "shadows.scss";

@mixin badge($background_color, $border_color) {
  color: $border_color;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  background-color: $background_color;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: inline-flex;
  border: 1px solid $border_color;
  border-radius: 4%/0%;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Opera and Firefox */
  @include box-shadow-big($border_color);
}
