@import 'variables.scss';

/* contact-menu component */

nav#contact {
    text-align: right;
    margin: 1rem;
    font-size: .9em;

    a {
        margin-right: .5rem;
        line-height: .8rem;

        &:hover {
            color: $red;
            border-bottom: 1px solid $red;
        }

    }
}
