@import 'variables.scss';

/* contact-menu component */

nav#contact {
    text-align: right;
    margin: 1rem;

    a {
        border-radius: 10%/50%;
        margin-right: .5rem;
        line-height: .8rem;

        &:hover {
            color: $white;
            background-color: $blue;
        }

    }
}
