@import './variables.scss';

#contextual-menu {
    margin: 1rem .5rem;
    text-align: center;

    @media ($media-medium) {
        text-align: left;
    }

    a {
        font-size: 1.4rem;
        margin-right: 1rem;

        &:hover {
            border-bottom: 1px solid $blue;
        }
    }
}
