@import "./variables.scss";
@import "./badges.scss";

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  text-align: justify;
  font-size: 16px;
  line-height: 1.8rem;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

small {
  font-size: 0.8rem;
  color: $light-grey;
  font-weight: 600;
}

/* Helper classes */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.full-width {
  width: 100%;
}

/* Fonts */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $black;

  .cs-line {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 28px;
    font-weight: 500;
    white-space: pre;
    font-size: 16px;
  }
}

/* Title */

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.015rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
  font-weight: 500;

  a {
    font-weight: 500;
  }
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: $black;
}

h2, h3, h4, h5, h6 {
  line-height: 1.6em;
  color: $red;
}

h3, h4 {
  margin-bottom: .8rem;
  margin-top: .8rem;
}

h5,h6 {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
  color: $black;
  font-weight: 600;
}

/* Links */

a {
  padding: 0.5rem;
  text-decoration: none;
  color: $green;
}

a:hover {
  cursor: pointer;
}

/* lists */

dl,
ol,
ul {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  li {
    margin-bottom: .3rem;
    line-height: 1.8rem;
    
    dl, 
    ol, 
    ul {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

ol {
  list-style: none; 
  counter-reset: li;
  padding-left: 0;
  li::before {
    content: counter(li); 
    color: white;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    top: .15rem;
    left: -2rem;
  }
  li {
    counter-increment: li;
    margin-left: 2rem;
    position: relative;
  }
}

ul {
  list-style: none;
  li::before {
    content: "•"; 
    color: $red;
    display: inline-block; 
    width: 1rem;
    margin-left: -1rem;
  }
}

/* paragraphs */

strong {
  color: $red;
  font-weight: 600;
}

article {
  margin: 1.5rem 0.5rem 0 0.5rem;

  @media ($media-medium) {
    margin-top: 2.5rem;
  }
}

article {

  @media ($media-medium) {
    padding-left: 0.5rem;
  }

  header {
    display: block;
    div {
      line-height: 1.8rem;
    }

    a {
      color: $red;
      text-decoration: none;
    }
  }

  address {
    display: inline-block;
    margin-left: 0.5rem;
  }

  time {
    font-size: 1rem;
    font-style: italic;
    color: $black;
    font-weight: 400;
  }

  aside.tech-stack {
    span {
      @include badge($white, $light-grey, $grey);
    }
  }

  a {
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }

  section {
    margin: 1rem 0;
    h3,h4,h5,h6 {
      margin-top: 2rem;
    }
  }
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.point {
  cursor: pointer;
  color: $green !important;
}

blockquote {
  text-align: left;
  margin: 2rem 0;
  padding: 1rem;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  background-color: $darker-white;
  border-left: none;
  border-right: none;
  border-radius: 0.3rem;
  text-align: center;
  @include box-shadow-big($darker-white);

  @media ($media-medium) {
    text-align: left;
  }

  strong {
    color: $black;
  }
  a {
    font-weight: 600;
  }
}

hr {
  margin: 3rem 10%;
}
