@import './variables.scss';

/* IAM Section */

#iam {
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;

  img {
    text-align: center;
  }

  a {
    padding: 0;
    color: $red;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  h2 {
    color: $light-grey;
  }
}

#iam > div {
  &:nth-child(1) {
    text-align: center;
  }
}

@media (min-width: 800px) {
  #iam {
    height: 9rem;
    max-width: 522px;
  }
  #iam > div {
    margin-right: 2rem;
    float: left;
    min-height: 100%;
    text-align: left;
  }
}

#iam > div:nth-child(2) {
  padding-top: .8rem;
}

