@import './variables.scss';

/* IAM Section */

#iam {
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: inline-block;

  @media ($media-medium) {
    height: 9rem;
  }

  * {
    text-align: center;
  }

  a {
    padding: 0;
    color: $yellow;
  }

  h1, h2 {
    @media ($media-medium) {
      margin: .75rem 0;
      text-align: left;
    }
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    color: $light-grey;
  }

  > div {
    @media ($media-medium) {
      margin-right: 2rem;
      float: left;
      min-height: 100%;
      text-align: left;
    }
  }
}

