@import './core.scss';

section.wrapper {
  margin: 0px auto;
  padding: 0 1rem;
  max-width: 99%;
  margin-top: 1rem;

  @media ($media-small) {
    max-width: 95%;
  }

  @media ($media-medium) {
    max-width: 90%;
  }

  @media ($media-wide) {
    max-width: 70%;
  }
}


main {
  margin-top: 1rem;
}

