@import './core.scss';

section.wrapper {
  margin: 0px auto;
  padding: 0px 1rem 1.5rem;
}

@media (min-width: 480px) {
  section.wrapper {
    max-width: 460px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;

    section.wrapper {
      max-width: 780px;
    }
  }
}

@media (min-width: 1024px) {
  section.wrapper {
    max-width: 960px;
  }
}


/* main */

main {
  
}
