@import './core.scss';

section.wrapper {
  margin: 0px auto;
  padding: 0 1rem;
  max-width: 100%;
  margin-top: 1rem;

  @media ($media-small) {
    max-width: 95%;
  }

  @media ($media-wide) {
    max-width: 70%;
  }
}

main {
  margin-top: 1rem;
  min-height: 50vh;
}

body.animate {
  section.wrapper {
    transition: max-width ease-in-out .2s;
  }
}

