
/* Colors */

$black: #333;

$grey: #666;

$light-grey: #999;

$lightest-grey: #ccc;

$white: #fff;

$red: #e27d60;

$blue: rgb(105,207,202);

$yellow: #e8a87c;

$orange: #c38d9e;

$green: #41b3a3;

/* media queries */

$media-wide: "min-width: 1024px";
$media-medium: "min-width: 800px";
$media-small: "min-width: 376px";
$media-xsmall: "max-width: 375px";
