@import "../variables.scss";

article.project {
    header {
        text-align: left;
        border-left: 2px solid $yellow;
        padding-left: 1rem;

        time {
            margin-left: 0;
        }

        h3 {
            margin-top: .3rem;
        }
    }

    aside {
        display: block;
    }
}